.Candles{
    height: 500px;
    width: 500px;
    background-color: white;
    position: relative;
    animation: AnimBg 3s infinite;
}
.floor{
    background-color: rgb(117, 116, 116);
    border-color: rgb(92, 92, 92);
    border-style: solid;
    box-sizing: border-box;
    border-width: 0px;
    border-top-width: 6px;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0px;
}
.Big{
    position: absolute;
    height: 300px;
    width: 100px;
    border-color: rgb(112, 112, 112);
    border-style: solid;
    border-radius: 10px;
    right: 40px;
    bottom: 50px;
    background-color: white;
}
.Small{
    position: absolute;
    height: 200px;
    width: 150px;
    border-color: rgb(112, 112, 112);
    border-style: solid;
    border-radius: 10px;
    left: 40px;
    bottom: 50px;
    background-color: white;
}
.Lighter{
    position: absolute;
    border-radius: 25%;
    background-color: rgb(43, 42, 42);
    width: 5px;
    height: 40px;
    left: 47%;
    top: -40px;
}
.Small .Lighter{
    animation: AnimLighter 3s infinite;
}
.Light{
    animation: AnimLight 3s infinite;
    background-color: rgb(255, 145, 0);
    width: 30px;
    height: 40px;
    position: absolute;
    border-radius: 100% 100% 70% 70%;
    left: -12px;
    top: -30px;
    scale: 1;
}
.eyeBig{
    position: absolute;
    background-color: black;
    width: 10px;
    height: 10px;
    top: 20px;
    border-radius: 75%;
}
.eyeBig:first-child{
left: 20px;
}
.eyeBig:last-child{
right: 20px;
}
.eyeSmall{
    position: absolute;
    background-color: black;
    width: 10px;
    height: 10px;
    top: 20px;
    border-radius: 75%;
}
.eyeSmall:first-child{
    left: 30px;
}
.eyeSmall:last-child{
    right: 30px;
}
.rot{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: black;
    position: absolute;
    right: 32px;
    top: 48px;
    animation: AnimRot 3s infinite;
}
@keyframes AnimRot{
    0%, 25%{
        transform: scale(0) translateX(-15px);
    }
    25%, 55%{
        transform: scale(1) translateX(-15px);
    }
    55%, 99%{
        transform: scale(0.3) translateX(-15px);
    }
    99%, 100%{
        transform: scale(0) translateX(-15px);
    }
}
@keyframes AnimLight{
    0%, 99%{
    scale: 1;
 }
    99%, 99.1%{
        scale: 0;
    }
    99.1%, 100%{
        scale: 1;
}
}
@keyframes AnimLighter{
    0%, 55%{
        transform-origin: bottom;
        transform: rotate(0deg);
    }
    55%, 65%{
        transform-origin: bottom;
        transform: rotate(25deg);
        /* transform: scale(1); */
    }
    65%, 75%{
        transform-origin: bottom;
        transform: rotate(-25deg);
        /* transform: scale(1); */
    }
    75%, 85%{
        transform-origin: bottom;
        transform: rotate(25deg);
        /* transform: scale(1); */
    }
    85%, 95%{
        transform-origin: bottom;
        transform: rotate(-25deg);
        /* transform: scale(0); */
    }
    95%, 100%{
        transform-origin: bottom;
        transform: rotate(0deg);
        transform: scale(1);
    }
}
@keyframes AnimBg{
    0%, 75%{
    background-color: white;
    }
    75%, 99%{
        background-color: rgb(53, 53, 53);
    }
    99%, 100%{
        background-color: white;
    }
}