.BigBg{
    background-color: rgb(41, 41, 70);
    width: 1300px;
    height: 1000px;
    margin-left: 100px;
    position: relative;
}
.Glass{
    border-radius: 100%;
    width: 750px;
    height: 750px;
    position: absolute;
    background-color: rgba(39, 209, 209, 0.37);
    top: 60px;
    left: 270px;
}
.Stand{
    background-color: rgb(158, 40, 40);
    width: 650px;
    height: 270px;
    position: absolute;
    bottom: 20px;
    left: 320px;
}
.StandEnd{
    background-color: rgb(238, 53, 53);
    width: 690px;
    height: 40px;
    position: absolute;
    border-radius: 30% 30% 30% 30%;
    z-index: 2;
}
.StandEnd:first-child{
    bottom: 280px;
    left: 300px;
}
.StandEnd:last-child{
    bottom: 10px;
    left: 300px;
}
.SnowFloor{
    background-color: white;
    border-radius: 40px 40px 0% 0%;
    position: absolute;
    width: 550px;
    height: 50px;
    bottom: 300px;
    left: 370px;
    z-index: 1;
}
.House{
    width: 350px;
    height: 300px;
    background-color: rgb(241, 102, 21);
    position: absolute;
    top: 351px;
    right: 410px;
    z-index: 0;
}
.Door{
    background-color: rgb(61, 43, 20);
    width: 60px;
    height: 110px;
    position: absolute;
    right: 30px;
    bottom: 0px;
    z-index: 1;
}
.Wind{
    background-color: rgb(67, 206, 183);
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 60px;
}
.Wind:first-child{
    left: 50px;
}
.Wind:last-child{
    left: 150px;
}
.Roof{
    background-color: rgb(131, 47, 47);
    transform: skew(-17deg);
    width: 350px;
    height: 130px;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 1;
}
.RoofB{
    background-color: rgb(131, 47, 47);
    transform: skew(10deg);
    width: 350px;
    height: 130px;
    position: absolute;
    top: -20px;
    left: 20px;
    z-index: -1;
}
.House_1{
    width: 340px;
    height: 280px;
    background-color: rgb(241, 102, 21);
    position: absolute;
    z-index: 0;
    top: 35px;
}
.SnowFlakes{
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 100%;
    position: absolute;
    animation: Flakes 5s infinite;
}
.SnowFlakes:nth-child(1){
    left: 500px;
    top: 200px;
}
.SnowFlakes:nth-child(2){
    left: 400px;
    top: 250px;
}
.SnowFlakes:nth-child(3){
    left: 680px;
    top: 250px;
}
.SnowFlakes:nth-child(4){
    left: 300px;
    top: 300px;
}
.SnowFlakes:nth-child(5){
    left: 400px;
    top: 200px;
}
.SnowFlakes:nth-child(6){
    left: 600px;
    top: 400px;
}
.SnowFlakes:nth-child(7){
    left: 700px;
    top: 300px;
}
.SnowFlakes:nth-child(8){
    left: 590px;
    top: 300px;
}
.SnowFlakes:nth-child(9){
    left: 500px;
    top: 200px;
}
.SnowFlakes:nth-child(10){
    left: 600px;
    top: 250px;
}
.SnowFlakes:nth-child(11){
    left: 790px;
    top: 250px;
}
.SnowFlakes:nth-child(12){
    left: 660px;
    top: 300px;
}
.SnowFlakes:nth-child(13){
    left: 810px;
    top: 300px;
}
.SnowFlakes:nth-child(14){
    left: 890px;
    top: 300px;
}
.SnowFlakes:nth-child(15){
    left: 790px;
    top: 300px;
}
.SnowFlakes:nth-child(16){
    left: 850px;
    top: 300px;
}
@keyframes Flakes{
    25%{
        transform: translateX(10px) translateY(10px);
    }
    50%{
        transform: translateX(-10px) translateY(20px);
    }
    75%{
        transform: translateX(10px) translateY(30px);
    }
    100%{
        transform: translateX(-10px) translateY(40px);
    }
}